{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group text-center">
            <legend class="border-bottom mb-4">{{ legend }}</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-md") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-md") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.picture1.label() }}
                {{ form.picture1(class="form-control-file") }}
                {% if form.picture1.errors %}
                  {% for error in form.picture1.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                  {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture2.label() }}
                {{ form.picture2(class="form-control-file") }}
                {% if form.picture2.errors %}
                  {% for error in form.picture2.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                  {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.picture3.label() }}
                {{ form.picture3(class="form-control-file") }}
                {% if form.picture3.errors %}
                  {% for error in form.picture3.errors %}
                      <span class="text-danger">{{ error }}</span><br>
                  {% endfor %}
                {% endif %}
            </div>

        </fieldset>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}
