<!--sidebar-->
{% if current_user.is_authenticated %}

<div class="col-md-4">

  <div class="content-section">


    <a style="text-decoration: white" href="{{ url_for('users.account') }}">
    <h5>Mój Profil<img class="account-img-box" src="static/profile_pics/{{ current_user.image_file }}" alt=""></h5>
    </a>
    <p class='text-muted'><b>{{ current_user.username }}</b>


    <div class='d-md-none' style="display:inline-block">
    </div>


      <ul class="list-group">
        <a style="text-decoration: none" href="{{ url_for('conversations.messages') }}"><li class="list-group-item list-group-item-light">Wiadomości</li></a>
        <a style="text-decoration: none" href="{{ url_for('posts.new_post') }}"><li class="list-group-item list-group-item-light">Dodaj Wpis</li></a>
        <a style="text-decoration: none" href="{{ url_for('posts.post_type') }}"><li class="list-group-item list-group-item-light">Moje Wpisy</li></a>
        <a style="text-decoration: none" href="{{ url_for('users.update_account') }}"><li class="list-group-item list-group-item-light">Edytuj Profil</li></a>
      </ul>

    </p>

  </div>
</div>
