<!DOCTYPE html>
<html>
<head>

    {% if title %}
      <title>Drineczki - {{ title }}</title>
    {% else %}
      <title>Drineczki</title>
    {% endif %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>

 <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{{ url_for('main.home') }}">&#x1f378;</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Główna</a>
              <a class="nav-item nav-link" href="/about">Karta Drinków</a>
              <a class="nav-item nav-link" href="/">Bazarek</a>
              <a class="nav-item nav-link" href="/">Ogłoszenia</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link d-xl-none" href="{{ url_for('users.account') }}">Profil</a>
              <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Wyloguj</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Logowanie</a>
                <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Rejestracja</a>
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>


    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
    <!--flash messages-->
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          {% block content %}{% endblock %}

        </div>
        <!--sidebar-->
        {% if current_user.is_authenticated %}

        <div class="col-md-4">

          <div class="content-section">


            <a style="text-decoration: white" href="{{ url_for('users.user_posts', username=current_user.username) }}">
            <h5>Mój Profil<img class="account-img-box" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}" alt=""></h5>
            </a>
            <p class='text-muted'><b>{{ current_user.username }}</b>


            <div class='d-md-none' style="display:inline-block">
            </div>


              <ul class="list-group">
                <a style="text-decoration: none" href="{{ url_for('conversations.messages') }}"><li class="list-group-item list-group-item-light">Wiadomości</li></a>
                <a style="text-decoration: none" href="{{ url_for('posts.new_post') }}"><li class="list-group-item list-group-item-light">Dodaj Wpis</li></a>
                <a style="text-decoration: none" href="{{ url_for('posts.post_type') }}"><li class="list-group-item list-group-item-light">Moje Wpisy</li></a>
                <a style="text-decoration: none" href="{{ url_for('users.update_account') }}"><li class="list-group-item list-group-item-light">Edytuj Profil</li></a>
              </ul>

            </p>

          </div>
        </div>

        {% endif %}

      </div>

    </main>
    {% block contents %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
